<p id="notice"><%= notice %></p>

<p>
  <strong>Common name:</strong>
  <%= @animal.common_name %>
</p>

<p>
  <strong>Latin name:</strong>
  <%= @animal.latin_name %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @animal.kingdom %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>

<hr>

<h3>Sightings:</h3>
<p>
  <ul>
    <% @animals.sightings.each do |sighting| %>
      <li>
        <%= sighting.date %>
      </li>
    <%end%>
  </ul>
</p>
