<p id="notice"><%= notice %></p>

<p>
  <strong>Common name:</strong>
  <%= @animal.common_name %>
</p>

<p>
  <strong>Latin name:</strong>
  <%= @animal.latin_name %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @animal.kingdom %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>

<hr>

<h3>Sightings:</h3>
<p>
  <ul id="sighting_list">
    <% @animals.sightings.each do |sighting| %>
      <li>
        <a href="/sightings/<%=sighting.id%>"><%= sighting.date %></a>
      </li>
    <%end%>
  </ul>
</p>

<input type="hidden" value="<%=@animal.id%>" id="animal_id"/>
<label>Date</label>
<input type="date" name="sighting[date]" id="date"/><br>
<label>Time</label>
<input type="text" name="sighting[time]" id="time"/><br>
<label>Latitude</label>
<input type="text" name="sighting[latitude]" id="latitude"/><br>
<label>Longitude</label>
<input type="text" name="sighting[longitude]" id="longitude"/><br>
<label>Region</label>
  <%= select(:sighting, :region, options_for_select([["North", "North"],["East", "East"],["West", "West"],["South", "South"]]))%>
  <br>
  <br>
<button id="create_sighting">Create A New Sighting</button>
